<div class="header">
    <mat-toolbar>
        <button mat-icon-button>
            <mat-icon>menu</mat-icon>
        </button>
        <div class="name">
            <span>ALEXANDER SANTORINI</span><br>
            <div class="under-name">
                <span>IMPORTS</span>
            </div>

        </div>

        <div class="icon">
            <button mat-icon-button>
                <mat-icon>search</mat-icon>
            </button>

            <button mat-icon-button>
                <mat-icon>favorite_border</mat-icon>
            </button>

            <button mat-icon-button routerLink="/shopping">
                <mat-icon>add_shopping_cart</mat-icon>
            </button>
        </div>

    </mat-toolbar>
</div>

<router-outlet></router-outlet>